
.send-form {
    width: 100%;
}
form.d-flex input {
    width: 70%;
}
form.d-flex button {
    width: 20%;
}

@media screen and (min-width: 600px) {
    .form.d-flex button {
        width: 25%;
        margin-right: 5%;
    }
  }